@charset "UTF-8";

:root {
    --cor1: #0E131F;
    --cor2: #9A031E;
    --corMQ: #E36414;
    --corQ: #FB8B24;
    --corAm: #90E39A;
    --corF: #9B9ECE;
    --corMF: #12106f;
}










body, html {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    
}

header {
    background-image: url(images/pexels-francesco-ungaro-464346.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 5px black;
 

 
}

h1 {
    width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 1.0em;
    color: black;
    text-wrap: wrap;
}


  



h2 {
    width: 95%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 1.0em;
    font-weight: 300;
}

main {
    width: 97vw;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#section-ent {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    margin: 0 auto 50px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.566);
    border-radius: 5px;
    overflow: hidden;
   
  
  
}

.div-img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
 
    
}

.div-img > img {
    width: 100%;
    height: 100%;

}




div#ent {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div#ent > label {
    text-align: center;
    padding: 10px 0px 10px 0px;
    
}

div#ent > input {
    width: 20%;
    height: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid green;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.437);
    margin: 3px 0 0 0;
    text-align: center;
}

div#inputs-radio {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
   padding-top: 10px;
}

input[type = 'radio'] {
    accent-color: rgb(128, 73, 0);
}

div#ent > select {
    width: 40%;
    height: 30px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid green;
    margin: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div#ent > select:hover {
    cursor: pointer;
}


div#button {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
 
}

div#button > button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: auto;
    height: 40px;
    margin: 6px;
    border-radius: 4px;
    border: 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.507);
}


div#button > button:hover {
    cursor: pointer;

}

div#button > button  p {
    text-align: center;
}


section#section-saida {
    width: 95%;
    display: flex;
    background-color: gray;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.566);
    overflow: hidden;
    display: none;
   
  

}

div#div-saida {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.792); */
    /* background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.304)); */
    text-align: center;
   

}


div#box-res {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    margin: 10px;
}

p#saida {
    margin-right: 2px;
}



p#saida, p#p-graus {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 2.0em;
   
}

p#p-frase {
    font-weight: 300;
}


/* div#saida > p {
    color: black;
} */




div#div-img2 > img {
    width: 100%;
    
}




footer {
    background-color: whitesmoke;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

footer > div#p-footer {
    margin: 10px 0px 10px 0px;

}

footer > div#footer-icons {
    display: flex;
    justify-content: center;
    margin: 0;

}


footer  > div#footer-icons > img {
    margin: 0 10px 0 10px;

    margin-bottom: 0;
    width: 10%;
}




@media (min-width: 602px) {


    section#section-ent {
        width: 85%;
        flex-direction: row;
        margin: auto;
        margin-bottom: 30px;
    }

    div#ent {
        width: 90%;
        height: 100%;
    }

    div#div-img {
        width: 20%;
        height: 200px;
        display: block;
        margin: 0;
    }

    div#div-img > img {
        width: 100px;
        height: 100%;
    }


    section#section-saida {
        flex-direction: row;
        width: 95%;
        margin: auto;
        margin-bottom: 30px;
     
    }

    div#div-img2 {
        width: 70%;
        height: auto;
    }

    div#div-saida {
        height: 100%;
       
    }

    footer  > div#footer-icons > img {
        width: 7%;
    }
    


}


@media (min-width: 900px) {



    
    section#section-ent {
        width: 65%;
        flex-direction: row;
        margin: auto;
        margin-bottom: 30px;

    }

    section#section-saida {
        flex-direction: row;
        width: 85%;
     
     
    }

    footer > div#footer-icons > img {
        width: 3%;
       
    }

}


